.center {
  justify-content: center;
  text-align: center;
}

.center ul {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.center ul li {
  margin-left: 20px; /* add some space between items */
}
.navbar-nav li{
    padding: 0 1.2em
}